@import "_reset";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import "_baguetteBox";
body {
	font-family: "Lato", sans-serif;
}
.wrapper {
	// max-width: 1500px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	@media (max-width: 1020px) {
		padding: 0 15px;
	}
}
.header {
	background-image: url("../img/BG-Header.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin: 0 auto;
	text-align: center;
}

.header__container {
}
.header__logo {
	padding: 150px 0;
}
.header__title {
	color: #ffffff;
	font-size: 34px;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 5.43px;
	line-height: 40px;
	margin: 0px 0px 139px 0px;
	&--subtitle {
		font-size: 26px;
		font-weight: 400;
		letter-spacing: 4.15px;
		text-transform: lowercase;
	}
	&:after {
		content: "";
		display: block;
		width: 105px;
		height: 2px;
		background: #fff;
		align-items: center;
		position: absolute;
		left: 50%;
		margin: 49px 0 0 -52.5px;
	}
}
.header__row {
	padding: 140px 0 220px 0;
}
.button {
	a {
		background-color: transparent;
		display: block;
		margin: 0 auto;
		width: 182px;
		height: 47px;
		border: 2px solid #fff;
		text-align: center;
		color: #ffffff;
		font-size: 16px;
		text-transform: uppercase;
		letter-spacing: 0.67px;
		line-height: 42px;
	}
	&--b {
		a {
			color: #000;
			border: 2px solid #000;
		}
	}
}

.header__button {
	&:after {
		content: url("../img/Arrow-down.png");
		display: block;
		align-items: center;
		position: absolute;
		left: 50%;
		margin: 75px 0 0 -8.5px;
	}
}
.header__nav {
	height: 58px;
	max-width: 1500px;
	margin: 0 auto;
	background-color: #fff;
	border-bottom: 2px solid #fcfcfc;
}
.header__list {
	margin: 0 auto;
	max-width: 800px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.header__link {
	color: #3c3c3c;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 58px;
	&.active {
		color: #ada074;
	}
}
//==================================================

.about {
}
.about-body {
	max-width: 825px;
	margin: 130px auto 60px auto;
	text-align: center;
}
.about-body__title {
	margin: 0px 0px 70px 0px;
}
.title {
	color: #000000;
	font-size: 34px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 8.95px;
	line-height: 40px;
	&:after {
		content: "";
		display: block;
		width: 81px;
		height: 1px;
		background: #404040;
		position: absolute;
		left: 50%;
		margin: 35px 0 0 -40.5px;
	}
}
.about-body__h2 {
	margin-bottom: 73px;
}
.about-body__text {
	text-align: center;
	color: #868585;
	font-size: 14px;
	font-weight: 300;
	line-height: 25.89px;
}
.about-body-row {
	display: flex;
	margin: 0 -15px;
	@media (max-width: 1020px) {
		flex-wrap: wrap;
	}
}
.about-body-row__column {
	flex: 0 0 33.333%;
	margin: 0px 0px 30px 0px;
	@media (max-width: 860px) {
		flex: 0 0 100%;
	}
}
.about-body-row__image {
	width: 92px;
	height: 92px;
	border: 2px solid #f1f1f1;
	border-radius: 50%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin: 0px 0px 41px 0px;
}
.about-body-row__item {
	padding: 0 15px;
}
.about-body-row__title {
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 3.52px;
	margin: 0px 0px 35px 0px;
}
.about-body-row__subtitle {
	color: #868585;
	font-size: 14px;
	font-weight: 300;
	line-height: 26px;
	@media (max-width: 860px) {
		max-width: 50%;
		margin: 0 auto;
	}
	@media (max-width: 420px) {
		max-width: 70%;
		margin: 0 auto;
	}
}
//==================================================
.portfolio {
	margin: 0 auto;
	padding: 0px 0px 62px 0px;
}

.portfolio__top {
	margin: 0px 0px 136px 0px;
}
.portfolio__title {
	text-align: center;
	margin: 0px 0px 90px 0px;
}

.portfolio__filter {
}
.filter {
}
.filter__list {
	display: flex;
	justify-content: center;
	& li {
		margin: 0px 50px 0px 0px;
		&:last-child {
			margin: 0;
		}
	}
}
.filter__item {
	cursor: pointer;
	color: #3c3c3c;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 700;
	&:hover {
		color: #ada074;
	}
	&.active {
		color: #ada074;
	}
}
.portfolio__items {
	margin: 0px auto;
	max-width: 1120px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0px 0px 60px 0px;
}
.portfolio__column {
	flex: 0 0 50%;
	max-width: 50%;
	padding: 15px 15px;
	@media (max-width: 1020px) {
		flex: 0 0 100%;
		max-width: 100%;
	}
}
.portfolio__item {
	margin: 0 auto;
	img {
		max-width: 100%;
	}
}
//===================================================
.partner {
	background-image: url("../img/BG-Footer.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 90px 0px 100px 0px;
}
.partner__content {
	height: 390px;
	padding: 0 20px;
}
.partner__title {
	text-align: center;
	color: #ffffff;
	font-size: 30px;
	font-weight: 300;
	letter-spacing: 1.8px;
	padding: 0px 0px 90px 0px;
}
.partner__icons {
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 600px;
	padding: 0px 0px 200px 0px;
}
//===================================================

.contacts {
	margin: 0px 0px 100px 0px;
}
.contacts__body {
	max-width: 910px;
	margin: 0 auto;
}
.contacts__title {
	text-align: center;
	margin: 0px 0px 165px 0px;
}
.contacts__feedback {
	display: flex;
	margin: 0 -15px;

	@media (max-width: 1020px) {
		flex-wrap: wrap;
	}
}
.contacts__column {
	flex: 0 1 50%;
	padding: 0 15px;
	max-width: 50%;
	flex-direction: column;
	margin: 0px 0px 100px 0px;
	@media (max-width: 1020px) {
		flex: 0 1 100%;
		flex-wrap: wrap;
	}
}
.contacts__form {
	text-align: left;
	max-width: 385px;
	position: relative;
}
.contacts__input {
	display: flex;
	justify-content: space-between;
	flex: 0 0 50%;

	& div {
		flex-direction: column;
		margin: 0px 0px 75px 0px;
		span {
			display: block;
			padding: 0px 0px 20px 0px;
		}
	}
	& input {
		display: flex;
		width: 161px;
		height: 35px;
		background-color: #f8f7f7;
		line-height: 35px;
		padding: 0 20px;
		border-top: 1px solid #000;
	}
}
.contacts__input-name {
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.84px;
}
.input {
}
.contacts__textarea {
	textarea {
		display: block;
		padding: 15px 20px;
		background-color: #f8f7f7;
		width: 100%;
		height: 115px;
		border-top: 1px solid #000;
		resize: none;
	}
	span {
		display: block;
		padding: 0px 0px 20px 0px;
	}
}
.contacts__button {
	margin: 40px 0px 0px 0px;
	position: absolute;
	right: 0;
}
.contacts__text {
	margin: -5px 0px 35px 0px;
	font-size: 14px;
	font-weight: 300;
	line-height: 26px;
	max-width: 255px;
}
.contacts__name {
	font-weight: 700;
	margin: 0px 0px 25px 0px;
}
.contacts__icons {
	a {
		padding: 0px 12px 0px 0px;
	}
	padding: 0px 0px 10px 0px;
}

.contacts__email a {
	color: #000;
	font-size: 14px;
	font-weight: 300;
	line-height: 26px;
	span {
		font-weight: 700;
	}
}
//===================================================
.footer {
	background-color: #3c3c3c;
}
.footer__body {
	text-align: center;
	padding: 50px 0px;
}
.footer__logo {
	margin: 0px 0px 40px 0px;
}
.footer__links a {
	color: #a4a4a4;
	font-size: 14px;
	padding: 0px 0px 0px 20px;
}
.footer__copy {
	margin: 30px 0px 0px 0px;
	display: inline-block;
	color: #6c6c6c;
	font-family: "Myriad Pro";
	font-size: 14px;
	font-weight: 400;
}
